/* Favicon */
#favicon {
    width: 32px;
    height: 32px;
  }

/* Allgemeine Stilvorgaben */
body {
  background: rgb(191,191,232);
  background: radial-gradient(circle, #b6e1fd  0%, rgb(255, 255, 255) 100%);
  
}

.logo {
  margin-top: 8px;
  margin-bottom: 10px;
}

.logo img {
  height: 70px;
  width: auto;
}

.logo-footer{
  display: none;
}

.profilbild {
  display: flex;
  align-items: center;
}
.profilbild a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.profilbild img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border-color: #18A0FB ;
  border: 0,5px;
}
/* Überschriften + Texte */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  b,
  a {
      font-family: 'Source Sans Pro', sans-serif;
     color: #18A0FB;
    }
  
  .button {
    background-color: #18A0FB;
    color: #ffffff;
  }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  min-height: 100vh;
  min-width: 80vw;
}

.grid-header {
  grid-row: 1;
  grid-column: 3 / span 1;
}

.grid-navi {
  grid-row: 1;
  grid-column: 1 / span 1;
}

.grid-main {
  grid-row: 1;
  grid-column: 2 /span 1;
  padding-left: 10px;
  border-right: 1px solid #555;
  border-left: 1px solid #555;
}

.grid-footer {
  grid-row: 2;
  grid-column: 1 /span 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Header-Elemente */

.header-navigation nav ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

.header-navigation nav li {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: end;
}

.header-navigation nav a {
  color: #fff;
  text-decoration: none;
}

/* Ordner Icon */
.ordner img {
	height: 90px;
  width: auto;
}

.geteilte_ordner img {
  height: 90px;
  width: auto;
}

/* Icons */
.logout_icon a img{
  height: 50px;
  width: auto;
  padding-left: 20px;
}

.ordner_erstellen_icon img,
.datei_erstellen_icon img,
.support_icon img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgb(164, 220, 255);
}

.support_icon a {
  display: flex;
  align-items: center;
}

.ordner_erstellen_icon button,
.datei_erstellen_icon button,
.teilen_icon button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  
}

#datei-liste a img {
  height: 100px;
  width: auto;
}

#geteilte_datei-liste a img {
  height: 100px;
  width: auto;   
}

/* Stilisiere die Fußzeilen-Links */
.footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  list-style: none;
}

.footer_links li {
  margin-right: 20px;
}

.footer_links a {
  color: #555;
  text-decoration: none;
  font-weight: bold; 
}

.footer_links a:hover {
  color: #000;
}

/* Positioniere das Copyright */
footer .footer_copyright {
  margin-bottom: 5px;
  color: #555;
  font-size: 80%;
  text-align: center;
}

/* Icons */
.logout_icon a img {
  height: 40px;
  width: auto;
  margin: 0 auto;
}
/* Responsive Design für iPad-Größe */
@media only screen and (max-width: 1024px) {
}

  

/* Responsive Design für mobile Handy-Größe */
@media only screen and (max-width: 900px) {
    .profilbild {
    display: flex;
    align-items: center;
  }
  .profilbild a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  .profilbild img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border-color: #18A0FB ;
    border: 0,5px;
  }
  /* Überschriften + Texte */
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li,
    b,
    a {
        font-family: 'Source Sans Pro', sans-serif;
       color: black;
      }
    
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 5px;
    min-height: 100vh;
    min-width: 80vw;
  }
  
  .grid-header {
    grid-row: 1;
    grid-column: 2 / span 1;
  }
  
  .grid-main {
    grid-row: 1;
    grid-column: 1 /span 1;
    padding-left: 10px;
  }
  
  .grid-footer {
    grid-row: 2;
    grid-column: 1 /span 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  /* Header-Elemente */
  
  .header-navigation nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  .header-navigation nav li {
    margin-bottom: 5px;
    display: flex;
    align-items: end;
  }
  
  .header-navigation nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Ordner Icon */
  .ordner img {
    height: 70px;
    width: auto;
  }
  
  .geteilte_ordner img {
    height: 70px;
    width: auto;
  }
  
  .ordner_erstellen_icon img,
  .datei_erstellen_icon img,
  .support_icon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(164, 220, 255);
  }
  
  /* Logo ausblenden */
  .logo {
  display: none
}

/*Logo dafür im Footer anzeigen lassen*/
.logo-footer {
  padding-left: 5px;
  margin-bottom: 5px;
}

.logo-footer img {
  height: 50px;
  width: auto;
}
  
  /* Stilisiere die Fußzeilen-Links */
  .footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
  }
  
  .footer_links li {
    margin-right: 20px;
    font-size: 14px;
  }}
