/* in geteilte Dateien */
#geteilte_datei-liste {
    list-style: none;

}

.datei-Struktur{
  display: flex;
  flex-wrap: wrap;
}

#geteilte_datei-liste {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#geteilte_datei-liste h2 {
  font-size: 18px;
}

/* Index */

.Ordner-Struktur{
  display: flex;
  flex-wrap: wrap;}

#ordner-liste li {
    list-style: none;

}

.in_ordner_gehen {
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

.geteilte_ordner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.geteilte_ordner h2 { 
  font-size: 18px;
}

.ordner {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ordner h2 {
  font-size: 18px;
}


/*In ordner*/
#datei-liste {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  text-align: center;
}
#datei-liste li {
    list-style: none;
}
#datei-liste h2 {
  font-size: 18px;
}

#ordner-liste-navi li {
  margin-right: 5px;
  list-style: none;
  border: 1px solid #a3d8fc;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

#ordner-liste-navi li:hover {
  background-color: #b6e1fd;
}

.in_ordner_gehen-navi {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.geteilte_ordner-navi {
  border: 1px solid #a3d8fc;
  width: auto;
}

.geteilte_ordner-navi:hover {
  background-color: #b6e1fd;
}

.Ordner-Struktur-Navi ul {
  padding: 0;
  margin: 0;
}

/*Teilen*/
.teilen_icon button img{
  height: 50px;
  width: auto;
}

/*apierkorb*/

.papierkorb img {
    height: 50px;
    width: auto;
  }

.papierkorb button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  /* Ordner erstellen, teilen und dateien hochladen forms Ding */
 .popup-feld{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color:  rgb(164, 220, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(164, 220, 255);
  }

  .button {
    background-color: #18A0FB;
    color: white;
    border-color: #18A0FB;
    border-radius: 5px;
    cursor: pointer;
  } 

  .button:hover {
    background-color: #0c8fe6; 
  }

/* Responsive Design für mobile Handy-Größe */
@media only screen and (max-width: 900px) {
  .ordner {
    display:flex;
    flex-direction: row;
  }

  .Ordner-Struktur-Navi {
    display: none;
  }

  #datei-liste h2,
  .ordner h2,
  .geteilt_ordner h2 {
      font-size: 14px;
    }
 /*Teilen*/
.teilen_icon button img{
  height: 40px;
  width: auto;
}

/*papierkorb*/

.papierkorb img {
    height: 40px;
    width: auto;
  }}