/* in geteilte Dateien */
#geteilte_datei-liste {
    list-style: none;
    border-style: solid;

}

#geteilte_datei-liste a {
    text-decoration: none;
    color:black;

}

#geteilte_datei-liste img {
    height: 45px;
    width: auto;   
}

.Ordner-Struktur{
    display: flex;
}


/* index */

#ordner-liste li {
    list-style: none;

}

/*papierkorb*/

.papierkorb img {
    height: 20px;
    width: auto;
  }

.papierkorb button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  /* Ordner erstellen forms ding */
 .popup-feld{
    border: 1px;
    border-style: solid;
  }