/* in geteilte Dateien */
#geteilte_datei-liste {
    list-style: none;
    border-style: solid;

}

#geteilte_datei-liste a {
    text-decoration: none;
    color:black;

}

#geteilte_datei-liste img {
    height: 45px;
    width: auto;   
}

.Ordner-Struktur{
    display: flex;
}


/* index */

#ordner-liste li {
    list-style: none;

}

.ordnernamen {
    background: rgb(194, 230, 252);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}


/*in ordner*/
#datei-liste li {
    list-style: none;
}


/*papierkorb*/

.papierkorb img {
    height: 50px;
    width: auto;
  }

.papierkorb button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  /* Ordner erstellen, teilen und dateien hochladen forms ding */
 .popup-feld{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color:  rgb(164, 220, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(164, 220, 255);
  }

  .button {
    background-color: #18A0FB;
    color: white;
    border-color: #18A0FB;
    border-radius: 5px;
    cursor: pointer;
  } 

  .button:hover {
    background-color: #0c8fe6; 
  }

