/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #18A0FB;
  }
  
  .dark-mode .header {
    background: linear-gradient(to right, #fff, #FF69B4, #18A0FB);
	  color: rgb(0, 0, 0);
  }
  
  .dark-mode a {
    color: #18A0FB;
  }
  
  .dark-mode h1{
      color: #18A0FB
  }
  .dark-mode h2,
  .dark-mode h3,
  .dark-mode h4,
  .dark-mode h5,
  .dark-mode h6 {
    color: #fff;
  }
  
  .dark-mode .button {
    background-color: #18A0FB;
    color: #222;
  }
  
 /* Dark Mode, der eig. auf jede Seite sollte.
 
 
 <?php // JavaScript-Code zum Umschalten des Dark-Mode
       var darkModeToggle = document.querySelector('.dark-mode-toggle');
       var body = document.querySelector('body');
       darkModeToggle.addEventListener('click', function() {
       body.classList.toggle('dark-mode');
      });?>
  




/* CSS-Regeln für das Mond-Icon */
.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark-mode-toggle i {
  color: #222;
  font-size: 20px;
}      