 /*CSS Regeln für die Support Seite */
.faq {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(164, 220, 255);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(164, 220, 255);
  margin-bottom: 20px;
}

.faq h3 {
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq p {
  display: none;
}

.toggle_icon.png img {
  height: 20px;
  width: 20px;
}
.support-form {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(164, 220, 255);
  box-shadow: 0 0 10px rgb(164, 220, 255);
  background-color: rgb(164, 220, 255);
  margin-bottom: 20px;
}

.support-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  resize: vertical;
}