/* CSS-Regeln Login */
body {
  position: relative;
  margin-bottom: 100px; /* Höhe des Footers */
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("cloud_hintergrund.jpg"); /* Pfad zum Hintergrundbild */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1,
h2,
p,
a {
  color: black
}

a hover{
  color: #18A0FB
}

.logo {
  position: static;
  left: 0;
  top: 0;
}

.logo img {
  height: 70px;
  width: auto;
}

.login-container {
  max-width: 400px;
  padding: 20px;
  border: 3px solid #18A0FB;
  border-radius: 5px;
  background-color: rgba(250, 250, 250, 0.699); /*Weißer Kasten, etwas transparent*/
  position: relative;
  margin: 50px auto;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  -webkit-box-shadow: 14px 15px 40px 5px rgba(24,160,251,1);
  -moz-box-shadow: 14px 15px 40px 5px rgba(24,160,251,1);
  box-shadow: 14px 15px 40px 5px rgba(24,160,251,1);
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form p {
  text-align: center;
  margin-bottom: 10px;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.login-container form button {
  width: 100%;
}

.login-container form a {
  text-align: center;
}

.login-container.hide {
  opacity: 0;
  pointer-events: none;
}

.cloud-button {
  background-color: #18A0FB;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}
.cloud-button:hover {
  border-color: #174e72 ;
  background-color: white;
  color: #18A0FB;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px; /* Höhe des Footers */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #18A0FB;
  text-align: center;
}

.logo_footer {
  display: absolute;
  margin: 0 auto;
}

.logo_footer img {
  height: 70px;
  width: auto;
}

.Überzeugung{
  background-color: white; /* Hintergrundfarbe auf Weiß setzen */
  margin: 0px;
  flex-direction: column;
  text-align: center;

}
.benefits-container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.benefit-box {
  max-width: 300px;
  border: 1px solid #18A0FB;
  border-radius: 5px;
  text-align: center;
}

.benefits-container :hover{
  box-shadow: 14px 15px 40px 5px rgba(24, 160, 251, 1);
}

.benefit-box p {
  color: #18A0FB;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Responsive Design für mobile Handy-Größe */
@media only screen and (max-width: 900px) {
  .benefits-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  }
