/* Favicon */
#favicon {
    width: 32px;
    height: 32px;
  }

/* CSS-Regeln für das Mond-Icon */
.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .dark-mode-toggle i {
    color: #222;
    font-size: 20px;
  }

/* Überschriften + Texte */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Baloo 2", cursive;
    color: #18A0FB;
  }

  .button {
    background-color: #18A0FB;
    color: #ffffff;
  }

  .header {
    background-color: #18A0FB;
    color: #ffffff;
  }

/* Logo */

.studiwolke_logo {
  position: fixed;
  height: 100px;
  width: 500px;
}